@import "variables";

.card{
    .card-img-top{
        transition:0.3s;
    }
}

.card:hover{
    .card-img-top{
        opacity: 0.7;
        transition:0.3s;
    }
}

.title{
    color: $orange;
}

.fa-coins{
    font-size:20px;
    color:$orange;
}
.bi-credit-card-2-front, .bi-dash-circle-fill{
    color:$orange;
}